
@set my-v-scrollbar
{
  .prev { display:none; }
  .next { display:none; }
  
  .base,
  .next-page, 
  .prev-page { background:white;  }
  
  .slider    { background: #88888888;border-radius: 3px; }
 
  .base:disabled { background: #aaa; }
    
  .slider:hover  { background: #0092ff88;  }
  
  .slider:active { background: #0092ff; }
 
  .base { width: 8dip;  } /* explicit declaration of its width */
  .corner { background: transparent; }
}

@set my-h-scrollbar
{
  .prev { display:none; }
  .next { display:none; }
  
  .base,
  .next-page, 
  .prev-page { background:white;  }
  
  .slider    { background: #88888888;border-radius: 3px; }
 
  .base:disabled { background: #aaa; }
    
  .slider:hover  { background: #0092ff88;  }
  
  .slider:active { background: #0092ff; }
 
  .base { height: 8dip;  } /* explicit declaration of its width */
  .corner { background: transparent; }
  
}

#horizontal-container 
{ 
	size:*;
	flow:horizontal;
  
}

html { 
    vertical-scrollbar: my-v-scrollbar;
    horizontal-scrollbar: my-h-scrollbar;
    color: black; 
    overflow: auto; 
}
