@import url(material-colors.css);

.material button { style-set: m-button; }
.material button.flat { style-set: m-button-flat; }


@set m-button < std-button-base {
  :root { 
    background: #fff; 
    border-radius: 4dip;
    border:#909090 solid thin;
    cursor:pointer;
    padding:0.5em 1em;
  }
  :root:hover { background: var(lighten4,#000); }
  :root:active { background: var(lighten3,#000); }
  

  :root:tab-focus { outline:1dip dashed color(normal) -4dip; }
}

@set m-button-flat < std-button-base {
  :root { 
    background: transparent; 
    padding:0.5em 1em;
    aspect: Material.Ripple url(material.tis);
    -ripple-from-color: var(lighten5,#000);
    -ripple-to-color: var(lighten3,#000);
    cursor:pointer;
  }
  :root:hover { background: var(lighten5,#000); }
  :root:active { background: var(lighten3,#000); }

  :root:tab-focus { outline:1dip dashed color(normal) 0dip; }
}


.material editbox { style-set: m-editbox; }

@set m-editbox {
  :root {
    overflow:hidden;
    display:block;
    background:transparent;    
    padding-top:0.5em;
    border-bottom:1dip solid #bbb;
    width:*;
    foreground: url(stock:block) center bottom no-repeat;
    foreground-size: 0% 2dip; 
    foreground-clip: border-box;
    fill: color(normal);
    transition: foreground-size quad-out 160ms; 

    flow:text; 
    cursor:text; 
    white-space:pre; 
    behavior:edit; 
    line-height:1.6em;

    text-selection: #000 transparent;
  }
  :root::marker { 
    margin-top:0.5em;
    line-height:1.6em; 
    width:*; 
    transform-origin: 0% 0%; 
    color:#777; 
    content: attr(caption); 
    transition: transform quad-out 160ms; 
  }

  :root:owns-focus::marker, 
  :root:not(:empty)::marker
  { 
    transform: translate(0,-80%) scale(0.7);  
  }

  :root:owns-focus
  {
    foreground-size: 100% 2dip; 
  }

  :root:focus {
    text-selection: #000 color(lighten4);
  }

}

.material checkbox { style-set: m-checkbox; }

@set m-checkbox {
  :root {
    behavior:check;
    display:block;
    width:max-content;
    line-height:1.4em;
    padding: * 0.6em * 1.8em;
    cursor:pointer;
  }

  :root::marker {
    size:12dip;
    border:1.2dip solid #bbb;
    border-radius: 3dip;
    margin: * * * 0;
    background: url(path:M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z) 50% 50% no-repeat;
    background-size: 0.8em;
    background-color: #ffffff;
    fill:transparent;
    stroke:none;
    transition: border-color linear 160ms, background-color linear 160ms;
  }

  :root:checked::marker {
    fill:#ffffff;
    background-color:color(normal);
    border-color:color(normal);
  }

  :root:tab-focus { outline:1dip dashed color(normal) 2dip; }
}


.material radio { style-set: m-radio; }



@set m-radio {
  :root {
    behavior:radio;
    display:block;
    width:max-content;
    line-height:1.4em;
    padding: * 0.6em * 1.8em;
    cursor:pointer;
  }

  :root::marker {
    size:13dip;
    border:1.2dip solid #bbb;
    border-radius: 8dip;
    margin: * * * 0;
    background: url(stock:disk) 50% 50% no-repeat;
    background-size: 8dip;
    fill: transparent;
    transition: border-color linear 160ms, fill linear 160ms;
  }

  :root:checked::marker {
    fill:color(normal);
    border-color:color(normal);
  }

  :root:tab-focus { outline:1dip dashed color(normal) 2dip; }

}

.material toggle { style-set: m-toggle; }

@set m-toggle {
  :root {
    behavior:check;
    display:block;
    width:3em;
    height:1em;
    padding:0.2em;
    border-radius:0.6em;
    background-clip:content-box;
    background:#ddd;
    cursor:pointer;
    transition: background-color linear 160ms;
  }

  :root:checked {
    background-color:color(lighten4); 
  }

  :root::marker // the knob
  {
    display:block;
    background-color:#bbb; 
    size:17dip;
    margin: 0 * 0 0;
    border-radius:9dip;
    box-shadow: #aaa 1dip 1dip 1dip;
    transform: translate(0em,0);
    transition: background-color linear 160ms, transform quad-out 160ms;
  }

  :root:checked::marker {
    transform: translate(2em,0);
    background-color:var(normal,#000);
  }

  :root:tab-focus { outline:1dip dashed color(normal) 2dip; }
}

@set m-slider < std-hslider-base{
  :root {
    background:#ddd;
    padding:7dip;
    background-clip: content-box;
    background-image: url(stock:block);
    background-repeat:no-repeat;
    background-position:0 0;
    fill:color(normal);
    width:8em;
    height:2dip;
    background-size: var(slider-position,0px) 2dip; // "value" part 
  }
  :root > knob {
    style-set: m-slider;
    size:16dip;
    box-shadow: #aaa 1dip 1dip 1dip;
    background:color(normal);
    foreground: none; 
    border:none;
    border-radius:8dip;
    padding:0;
  }

  :root > knob::marker {
    content:attr(value);
    size:32dip 36dip;
    line-height:32dip;
    text-align:center;
    background: no-repeat url(path:M8 2.1c1.1 0 2.2 0.5 3 1.3 0.8 0.9 1.3 1.9 1.3 3.1s-0.5 2.5-1.3 3.3l-3 3.1-3-3.1c-0.8-0.8-1.3-2-1.3-3.3 0-1.2 0.4-2.2 1.3-3.1 0.8-0.8 1.9-1.3 3-1.3z);
    background-size:32dip 36dip;
    fill:color(lighten4);
    stroke:none;
    //color: #fff;
    transform: translate(-8dip, -100%) scale(0);
    transition: transform 160ms;
    transform-origin: 50% 100%;
    filter: drop-shadow(1dip,1dip,1dip,#999);
  }

  :root:focus > knob::marker,
  :root:hover > knob::marker {
    transform: translate(-8dip, -100%) scale(1);
  }

}

.material slider { style-set: m-slider; }

hbox, .hbox { 
  display:block; 
  flow:horizontal;
  border-spacing:1em;
  width:*;
}

@set std-time-edit < std-time-edit-base
{
  :root
  {
    font:system;
    color:@WINDOWTEXT;
    text-selection: @WINDOWTEXT @THREEDFACE;
    padding:0;
    border-radius: @INPUT-RADIUS; 
  }
  
  :root > caption {
    width:*;
    line-height:1.4em;
    padding:0.25em; 
    background: @WINDOW;
    border:1dip solid @THREEDBORDER;
    border-radius: @INPUT-RADIUS 0 0 @INPUT-RADIUS;  
  }
  
  :root:disabled > caption { background:@THREEDFACE; color:@GRAYTEXT; }  

  :root > caption > span:current
  {
    background-color: transparent;
    color: @WINDOWTEXT;
  }
  :root:focus > caption > span:current
  {
    background-color: color(lighten3); 
    color: @HIGHLIGHTTEXT;
  }    

  :root:invalid
  {
    color:red;
  }

  :root > button
  {
    height:0.5*;
    width:1.2em;
    background:@THREEDFACE;
    border:1dip solid @THREEDBORDER;
    foreground-position:50% 50%;
    foreground-size:5dip;
    foreground-repeat:no-repeat;
  }

  :root > button:hover
  {
    transition:none;
    background:@THREEDHOVER;
  }
  :root > button:active
  {
    background:@THREEDHIGHLIGHT;
  }
  :root > button:disabled
  {
    background:@THREEDDISABLED; 
  }

  :root > button.minus
  {
    padding:0;
    border-radius: 0 0 @INPUT-RADIUS 0;
    border-top-style: none;
    border-left-style: none;
    foreground-image: url(stock:arrow-down); 
  }
 
  :root > button.plus
  {
    padding:0;
    border-radius: 0 @INPUT-RADIUS 0 0;
    border-bottom-style: none;
    border-left-style: none;
    foreground-image: url(stock:arrow-up);     
  }
}

@set std-number-edit < std-number-edit-base
{
  :root {
  
    background:transparent;
    color:black;
    padding-top:0.5em;
    border-bottom:1dip solid #bbb;
    width:8em;
    background: url(stock:block) center bottom no-repeat;
    background-size: 0% 2dip; 
    transition: background-size quad-out 160ms; 
    fill: color(normal);
     border-spacing:1dip;
    line-height:1.6em;
  }
  :root::marker { 
    margin-top:0.5em;
    line-height:1.6em; 
    width:*;
    margin-right: 3.2em; 
    transform-origin: 0% 0%; 
    color:#777; 
    content: attr(placeholder); 
    transition: transform quad-out 160ms; 
    z-index:-1;
  }  

  :root:owns-focus::marker, 
  :root:not(:empty)::marker
  { 
    transform: translate(0,-80%) scale(0.7);  
  }

  :root:owns-focus
  {
    background-size: 100% 2dip; 
   text-selection: #000 color(lighten4);

  }

  //:root:owns-popup,
  //:root:focus            { text-selection: color(selection-text) color(selection); }
  //:root:disabled         { background:color(widget-disabled); color:color(widget-disabled-text); }  
  //:root:tab-focus        { outline:@STD-OUTLINE-FOCUS; }  

  :root > caption 
  { 
    width:*;
    line-height:1.6em;
    height:1.6em;
    //padding:0.2em 0 0.2em 0.4em;
  }

  //:root:disabled > caption { color:color(widget-disabled-text); }  
  //:root:not([step]) > caption { border-radius: length(border-radius); }

  :root > button
  {
    background: #fff; 
    border-radius: 2dip;
    border:#909090 solid none;
    height:*;
    min-height:5dip;
    width:1.6em;
    fill: black;
    box-shadow:none;
    foreground-position:50% 50%;
    foreground-size:6dip;
    foreground-repeat:no-repeat;
    cursor:pointer;
  }
:root > button:hover
  {
    transition:none;
    background:var(lighten4,#000);
  }
  :root > button:active
  {
    background:var(lighten3,#000);
  }
  :root:disabled > button
  {
    background: color(widget-disabled);
    color: color(widget-disabled-text);
    fill: color(widget-disabled-text);
  } 
  
  :root > button.minus
  {
    padding:0;
    foreground-image: url(stock:chevron-down); 
  }
 
  :root > button.plus
  {
    padding:0;
    foreground-image: url(stock:chevron-up); 
  }

}
@set std-select-dropdown < std-select-dropdown-base
  {
 
    :root
    { 
      background:transparent;
    color:black;
    padding-top:0.5em;
    border-bottom:1dip solid #bbb;
    width:8em;
    background: url(stock:block) center bottom no-repeat;
    background-size: 0% 2dip; 
    transition: background-size quad-out 160ms; 
    fill: black;
     border-spacing:1dip;

     foreground: url(stock:block) center bottom no-repeat;
     foreground-size: 0% 2dip; 
     foreground-clip: border-box;
     transition: foreground-size quad-out 160ms; 
    }
        
    :root:hover                   {  fill:var(lighten3,#000);cursor:pointer;}

    :root:owns-focus
    {
      fill: color(normal);
      foreground-size: 100% 2dip; 
    }
    /* caption portion of combobox */
    :root > caption
    { 
      padding:0.25em 0.5em 0.25em 0.5em;
	    min-width : 2em;
      color:@WINDOWTEXT; 
    }
    
    /* popup select element */
    :root > popup.list
    { 
      margin:0;
      padding:0; 
      border:1dip solid @THREEDBORDER;
      background: @WINDOW;
    }
    
    option { line-height:1.4em; padding: 1dip 0.5em; }
    /*:root:not([multiple]) > popup > option { padding: 0 4dip; }*/
    option:current
    {
		  background-color:@HIGHLIGHT; color:@HIGHLIGHTTEXT;
    }
    
    optgroup > caption 
    { 
      padding:1dip 3dip; 
      font-weight:bold; 
      color:@GRAYTEXT;
    }
    optgroup > option 
    { 
      padding-left:20dip; 
    }
    optgroup > option:rtl
    { 
      padding-right:20dip; 
      padding-left:1dip; 
    }
    
    
    
    /* dropdown button of the combobox */
    :root > button
    {
      display :block; 
      width	  :1.2em;
      height	:*;
      padding	:0; 
      background:transparent; 
      border:none;
      foreground-image:url(stock:arrow-down); /* that arrow */
    }
    
    :root[editable] { background:none; border:none; }
  
    :root[editable]:owns-popup,
    :root[editable]:focus            {  text-selection: @HIGHLIGHTTEXT @HIGHLIGHT; }
    :root[editable]:disabled         {  background:@THREEDFACE;  color:@GRAYTEXT; }
    
    :root[editable] > caption {
      padding:0.25em 0.5em 0.25em 0.5em;
      text-selection: @WINDOWTEXT @THREEDFACE;
      background: @WINDOW;
      border:1dip solid @THREEDBORDER;
      border-radius: @INPUT-RADIUS 0 0 @INPUT-RADIUS;
    }
    :root[editable]:rtl > caption {
      border-radius: 0 @INPUT-RADIUS @INPUT-RADIUS 0;
    }
    
	  :root:owns-popup[editable] > caption,
	  :root[editable] > caption:focus
    {  text-selection: @HIGHLIGHTTEXT @HIGHLIGHT; }    
    
    :root[editable] > button
    {
      background:@THREEDFACE;
      border:1dip solid @THREEDBORDER;
      border-left:none;
      border-radius: 0 @INPUT-RADIUS @INPUT-RADIUS 0;
    }
    :root[editable]:rtl > button
    {
      border:1dip solid @THREEDBORDER;
      border-left:none;
      border-radius: @INPUT-RADIUS 0 0 @INPUT-RADIUS;
    }
    
    :root[editable] > button:hover    { transition:none; background:@THREEDHOVER; }
    :root[editable] > button:active   { background:@THREEDHOVER; }
    :root[editable] > button:disabled { background:@THREEDDISABLED; }
  
    :root[multiple] > popup > option { padding:1dip 1dip 1dip 20dip; }
    :root:rtl[multiple] > popup > option { padding:1dip 20dip 1dip 1dip; }

    :root[multiple] > span.count 
    {
      padding:2dip 2dip 4dip 4dip;
      margin:2dip;
      border-left:1px threedshadow solid;
      border-right:1px threedshadow solid;
    }
   
  }


@set std-select-popup < std-select-popup-base 
{
  /* popup select element */
  :root
  { 
    font: system;
    margin:0;
    padding:0; 
    border:1dip solid @THREEDBORDER;
    background: @WINDOW;
  }
  
  option { line-height:1.4em; padding: 1dip 0.5em; }
  /*:root:not([multiple]) > popup > option { padding: 0 4dip; }*/
  option:current
  {
    background-color:@HIGHLIGHT; color:@HIGHLIGHTTEXT;
  }
  
  optgroup > caption 
  { 
    padding:1dip 3dip; 
    font-weight:bold; 
    color:@GRAYTEXT;
  }
  optgroup > option 
  { 
    padding-left:20dip; 
  }
  optgroup > option:rtl
  { 
    padding-right:20dip; 
    padding-left:1dip; 
  }
}
